﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuarios <small>Mantenimiento</small></h3>
        </div>
        <div class="clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Listado de usuarios</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a ui-sref="mantenimientos.usuarios-crear"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">C&oacute;digo</th>
                                            <th class="column-title">Entidad</th>
                                            <th class="column-title">TipoUsuario</th>
                                            <th class="column-title">Nombre</th>
                                            <th class="column-title">Correo</th>
                                            <th class="column-title">Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="usuario in vm.usuarios">
                                            <td> {{usuario.iD_USUARIO}}</td>
                                            <td> {{usuario.iD_ENTIDAD}}</td>
                                            <td> {{usuario.iD_TIPO_USUARIO}}</td>
                                            <td> {{usuario.nombre}}</td>
                                            <td> {{usuario.password}}</td>
                                            <td> {{usuario.correo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>