﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuarios <small>Creacion</small></h3>
        </div>
        <div class="clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Usuario Nuevo</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <form class="form-horizontal form-label-left" novalidate="">

                                    <span class="section">Informacion de Usuario</span>
                                    
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                            Dependencia <span class="required">*</span>
                                        </label>
                                        <select class="col-md-6 col-sm-6 col-xs-12" ng-change="vm.seleccionEntidad()" ng-model="vm.entidad" ng-options="entidad.iD_ENTIDAD as entidad.nombre for entidad in vm.entidades">
                                            <!--ng-change="controller.seleccionDependencia()" ng-model="controller.dependencia" ng-options="dependencia.idUnidadAdministrativa as dependencia.nombre for dependencia in controller.dependencias"-->
                                            <option selected="selected" value="">----Seleccione----</option>
                                        </select>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                            Tipo Usuario <span class="required">*</span>
                                        </label>
                                        <select class="col-md-6 col-sm-6 col-xs-12" ng-change="vm.seleccionTipoUsuario()" ng-model="vm.tipoUsuario" ng-options="tipoUsuario.iD_TIPO_USUARIO as tipoUsuario.descripcion for tipoUsuario in vm.tiposUsuarios">
                                            <!--ng-change="controller.seleccionDependencia()" ng-model="controller.dependencia" ng-options="dependencia.idUnidadAdministrativa as dependencia.nombre for dependencia in controller.dependencias"-->
                                            <option selected="selected" value="">----Seleccione----</option>
                                        </select>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                            Nombre <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="name" ng-model="vm.nombre" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nombre completo por ejemplo Juan Perez" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                            Usuario <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="name" ng-model="vm.usuario" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Usuario por ejemplo jperez" required="required" type="text">
                                        </div>
                                    </div>

                                    
                                    <div class="item form-group">
                                        <label for="password" class="control-label col-md-3">Password</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="password" ng-model="vm.password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repetir Password</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button id="send" type="submit" ng-click="vm.guardar()" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>