﻿<div class="dashboard_graph">

    <div class="row x_title">
        <div class="col-md-6">
            <h3>Registro Mensual  <small>(Datos de muestra para prueba de grafico)</small></h3>
        </div>
        <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>Agosto 30, 2016 - Septiembre 7, 2016</span> <b class="caret"></b>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-12">
        <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
        <div style="width: 100%;">
            <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
        <div class="x_title">
            <h2>Movimiento de Campaña por Red Social</h2>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
                <p>Facebook </p>
                <div class="">
                    <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                    </div>
                </div>
            </div>
            <div>
                <p>Twitter </p>
                <div class="">
                    <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
                <p>Television / Radio</p>
                <div class="">
                    <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                    </div>
                </div>
            </div>
            <div>
                <p>Prensa / otros</p>
                <div class="">
                    <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                    </div>
                </div>
            </div>
            <div>
                <p>Ninguno o No Especifico</p>
                <div class="">
                    <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>