﻿<div class="profile_pic">
    <img src="images/img.jpg" alt="..." class="img-circle profile_img">
</div>
<div class="profile_info">
    <span>Bienvenido,</span>
    <h2>Usuario</h2>
</div>
<!-- demo x => x -->