﻿<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>UIDS AADHAAR</span></a>
    </div>

    <div class="clearfix"></div>

    <profile class="profile" />

    <br />

    <sidebar-menu id="sidebar-menu" class="main_menu_side hidden-print main_menu" />

    <sidebar-footer class="sidebar-footer hidden-small" />
</div>